<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title='All Products')"></head>
<body>
<!--<ul>-->
    <!--<li data-th-each="item : ${items}" class="item">-->
        <!--<div class="col s12 m7">-->
            <!--<h2 class="header">Horizontal Card</h2>-->
            <!--<div class="card horizontal">-->
                <!--<div class="card-image">-->
                    <!--<img data-th-src="${item.img}">-->
                <!--</div>-->
                <!--<div class="card-stacked">-->
                    <!--<div class="card-content">-->
                        <!--<p>[[${item.description}]]</p>-->
                    <!--</div>-->
                    <!--<div class="card-action">-->
                        <!--<a data-th-href="@{/{id}(id=${item.id})}">-->
                            <!--[[${item.name}]]-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->


    <!--</li>-->
<!--</ul>-->
</body>
</html>